<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>life</title>
</head>
<body>
<form action="/create" method="post">
    <table>
        {% for y in range(10) %}
            <tr>
                {% for x in range(10) %}
                    <td>
                        <input type=checkbox name="{{ x }}_{{ y }}"/>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <input type="submit"/>
</form>
</body>
</html>